{% extends "base.html" %}
{% block content %}
{% include 'includes/up.html' %}

<div class="full center text-center">
   <div class="flex flex-gap flex-hor-center flex-change">
       <div class="column">
           <h1>Donate</h1>
           <p class="p select-all">44ipFAPuxhSPFSqWHuxDNWC9CvG1yHmAi5h215SV3pgzEVeugp2cUk3WZ95cZvFgAYGso18A8wegv8dNCwF5gzQDBQTyyzG</p>
       </div>
       <div>
            <img src="../static/qr.png" alt="Monero QR code" class="qr">
       </div>
   </div>
</div>

{% endblock %}
